.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 2rem 2rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--dark);
    text-transform: uppercase;
    padding: 1.0rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

html,
body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* CSS Variables */

:root {
    --primary-color: #1a69cf;
    --primary-color2: #063680;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #063680 0%, #1a69cf 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    /* font family variables. */
    --dark: 'dark';
}

.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}

a:hover {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

#noticias a.destaque {
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#noticias a.destaque:hover {
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

#noticias p {
    color: var(--dark);
}

.carousel-inner {
    width: 100% !important;
    height: 1400px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .carousel-inner {
        width: 100% !important;
        height: 450px;
        object-fit: cover;
    }
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #000;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    top: 50%;
}

.eviar-email .container-pessoas .email {
    margin: 45px 45px 45px 45px;
    border-radius: 10px;
    border: 3px dotted rgb(58, 140, 196);
}

.eviar-email .container-pessoas .row {
    padding: 1.5%;
}

.eviar-email .container-pessoas .title {
    padding: 1.5% 1.0% 0% 1.0%;
}

#contato ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#contato ul li {
    display: flex;
    list-style-type: none;
    margin-left: 25px;
}

#contato ul li:first-child {
    margin-left: 0;
}

#contato ul li a {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all ease-out 0.2s;
}

#contato ul li a:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#contato ul li img {
    max-height: 40px;
}

#contato .para {
    align-items: center;
}

@media (max-width: 767.98px) {
    #contato ul {
        padding-top: 30px;
        justify-content: center;
    }
}