a:hover {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

#noticias a.destaque {
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#noticias a.destaque:hover {
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

#noticias p {
    color: var(--dark);
}


.carousel-inner {
    width: 100% !important;
    height: 1400px;
    object-fit: cover;
}
@media (max-width: 576px) {
    .carousel-inner {
        width: 100% !important;
        height: 450px;
        object-fit: cover;
    }
 }

 .carousel-control-prev,
 .carousel-control-next{
     background-color:#000;
     border-radius: 50%;
     width: 5vh;
     height: 5vh;
     top: 50%;
 }