a:hover {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

#noticias a.destaque {
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#noticias a.destaque:hover {
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

<!--color no paragrafo-->#noticias p {
    color: var(--dark);
}